In [ ]:
# 14) Use Iris flower dataset and perform following operations. Scan the dataset and give
# the inference as:
# 1. List down the features and their types (e.g., numeric, nominal) available in the dataset.
# 2. Create a histogram for each feature in the dataset to illustrate the feature distributions.
# 3. Compare distributions and identify outliers.

In [11]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [12]:
#WHOLE CODE SAME AS PR 13 ..INSTEAD OF BOXPLOT PART WE HAVE TO COMPARE DISTRIBUTIONS AND OUTLIERS
df = pd.read_csv('/Users/samiksha/Downloads/5-8-13-14.iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [14]:
Q1=df['sepal.width'].quantile(0.25)
Q3=df['sepal.width'].quantile(0.75)
IQR=Q3-Q1
IQR

0.5

In [15]:
lower_limit=Q1-(1.5*IQR)
upper_limit=Q3+(1.5*IQR)
lower_limit,upper_limit

(2.05, 4.05)

In [20]:
df[df['sepal.width']> upper_limit]

    sepal.length  sepal.width  petal.length  petal.width variety
15           5.7          4.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa

In [22]:
df[df['sepal.width']< lower_limit]

    sepal.length  sepal.width  petal.length  petal.width     variety
60           5.0          2.0           3.5          1.0  Versicolor